<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-cpu panel-min-size">
                <div class="panel-heading">
                    Live instances
                </div>
                <div class="pie-container">
                    <div class="row center-div">
                        <canvas id="doughnut" class="chart chart-doughnut chart-xs pie-chart" chart-data="pieChart.data" chart-colors="pieChart.colors" chart-options="pieChart.options" chart-labels="pieChart.labels" legend="false"></canvas>
                        <div class="num-of-instances">
                            <span>{{numOfInstances}}</span>
                        </div>

                    </div>
                    <div id="pieLegend" class="instance-legend">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-primary panel-min-size">
                <div class="panel-heading">
                    CPU Load
                </div>
                <div class="pie-container">
                    <div class="row center-div">
                        <canvas id="doughnut" class="chart chart-doughnut chart-xs pie-chart" chart-data="cpuChart.data" chart-labels="cpuChart.labels" chart-options="cpuChart.options" chart-colors="cpuChart.colors" chart-legend="true"></canvas>
                    </div>
                    <div class="cpu-legend">
                        <div>
                            <div class="cpu-high"> &#9632</div> High
                        </div>
                        <div>
                            <div class="cpu-med"> &#9632 </div> Med
                        </div>
                        <div>
                            <div class="cpu-low"> &#9632 </div> Low
                        </div>
                    </div>
                </div>

            </div>
            <!--
                            <div class="row center-div panel-text">
                                <span class="easyChart ng-isolate-scope" easypiechart="" percent="percent3" options="options3">
                                        <span class="percent">{{percentText3}}</span>
                                </span>
                            </div>
            -->
        </div>


        <!--<div class="col-lg-3">
            <div class="panel panel-primary panel-min-size">
                <div class="panel-heading">
                    Active instances
                </div>
                <div class="panel-body">
                    <div class="row panel-text center-div">
                        <div class="data-pie">try</div>
                        <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="donut.data" labels="donut.labels" legend="true"></canvas>
                        <span ng-init="setValueBySteps('numOfInstances', 0, 17, 1000, 17)">{{numOfInstances}}</span>
                        <span ng-init="setPieValueBySteps('products', 0, numOfInstances, 1000, numOfInstances)"></span>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="col-lg-3">
            <div class="panel panel-info panel-min-size">
                <div class="panel-heading">
                    Verifications
                </div>
                <div class="panel-body">
                    <!-- <canvas class="chart chart-doughnut chart-xs" data="data" labels="labels" legend="false"></canvas> -->
                    <div class="row center-div panel-text">
                        <!-- <span>153</span> -->{{numOfVerifications}}
                        <!--<span ng-init="setValueBySteps('numOfVerifications', 0, numOfVerifications, 1000, numOfVerifications)">{{numOfVerifications}}</span>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-error panel-min-size">
                <div class="panel-heading">
                    Alerts in 24H
                </div>
                <div class="panel-body">
                    <!-- <canvas class="chart chart-pie chart-xs" data="data" labels="labels" legend="false"></canvas> -->
                    <div class="row center-div panel-text">
                        <!-- <canvas class="chart chart-pie chart-xs" chart-data="data" chart-labels="labels" legend="false"></canvas> -->
                        <!-- <span>7</span> -->
                        {{numOfAlerts}}
                        <!--<span ng-init="setValueBySteps('numOfAlerts', 0, numOfAlerts, 1000, numOfAlerts)">{{numOfAlerts}}</span>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-sm-12" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Event Timeline </div>
            <div ng-init="reloadTimeline()" class="panel-body center-div">
                <img ng-show="!showTimelineChart" ng-src="scripts/directives/dashboard/img/pie.gif">
                <!-- <div ng-show="chart1.data.length > 0" google-chart chart="chart" style="height:500px;"></div> -->
                <!-- <h3 ng-show="showTimelineChart && chart1.data.length == 0">No events...</h3> -->
                <h3 ng-show="showTimelineChart && chart1.data.length == 0">No events...</h3>

                <div id="timelineDash" style="height:500px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Alert log
            </div>
            <!-- /.panel-heading -->
            <notifications></notifications>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <!-- <chat></chat> -->
        <!-- /.panel .chat-panel -->
    </div>
</div>
<!-- <div class="col-lg-3 col-sm-6" id="doughnut-chart" ng-controller="ChartCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">Some info</div>
                <div class="panel-body">
                <canvas id="doughnut" class="chart chart-doughnut chart-xs" chart-data="donut.data" chart-labels="donut.labels" legend="false"></canvas>
                </div>
            </div>
        </div> -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <ul class="nav nav-justified nav-pills">
                <li class="active"><a data-toggle="pill" href="#varificationTab">Verifications In the IP Range</a></li>
                <li><a data-toggle="pill" href="#alertTab">Verifications Out Of the IP Range</a></li>
            </ul>
            <div class="panel-maps">
                <div class="tab-content">
                    <!--<div id="varificationTab" class="tab-pane fade in active">
                        <iframe src="http://52.59.6.66:5601/app/kibana#/dashboard/instance-in-range-view?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:instances-in-range,panelIndex:2,row:1,size_x:12,size_y:5,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:instance-in-range-view,uiState:())"  width="100%" height="580"></iframe>
                    </div>
                    <div id="alertTab" class="tab-pane fade active">
                        <iframe src="http://52.59.6.66:5601/app/kibana#/dashboard/instance-not-in-range-view?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:instances-not-in-range,panelIndex:2,row:1,size_x:12,size_y:5,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:instance-not-in-range-view,uiState:())" width="100%" height="600" ></iframe>
                    </div>-->
                    <div id="varificationTab" class="tab-pane fade in active">
                        <iframe ng-src="{{kibanaURL}}" width="100%" height="580"></iframe>
                    </div>
                    <div id="alertTab" class="tab-pane fade active">
                        <iframe ng-src="{{kibanaURL}}" width="100%" height="580"></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <timeline></timeline>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                <notifications></notifications>
            </div>

            <chat></chat>
        </div>
    </div> -->
<script type="text/javascript">
</script>
