/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav>li.active>a {
text-decoration: none;
background-color: #eee;
}


/* Added by O.R */

@font-face {
    font-family: 'CiscoSansExtraLight'; 
    src: url('fonts/CiscoSansExtraLight.otf');
}

.bg-gradient {
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
}

.cisco-logo {
  height: 54px;
  float: right;
  margin: 7px;
  margin-top: -60px;
}

.navbar-static-top { 
  height: 68px;
}

.navbar-brand {
  font-size: 23px;
  padding-top: 23px;
  color: white !important;
}

@media (min-width: 768px){
    .sidebar {
      margin-top: 0px;
  }
}

body{
  font-family: 'CiscoSansExtraLight' !important;
  color: black;
  background-color: white;
}
.sidebar-nav{
  background-color: white;
}

#page-wrapper {
  background-color: #fafcfe;
  border-left: 0px;
}

.nav>li>a {
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar ul li {
  border-bottom: 0px;
}

.center-div {
  float: none!important;
  margin-right: auto!important;
  margin-left: auto!important;
  text-align: center!important;
}

.client-name {
  float: left;
  margin-left: 52px;
  margin-top: -30px;
  font-size: 17px;
}

.client-logo {
  height: 44px;
  padding-top: 4px;
}

.client-circle{
  height: 40px; 
  width: 40px; 
  background-color: white; 
  border-radius: 30px; 
  border:1.5px solid #ddd;
}

.client-panel{
  margin-top:13px;
  color: #f1f1f1;
  margin-left: -51px;
}