<div class="panel-body">
    <div class="list-group">
        <!-- <a href="#" class="list-group-item" ng-repeat="logRow in LogFact.fullLogs | filter:{'type' : 64}  | limitTo : 10"> -->
        <a href="#" class="list-group-item notification-row" ng-repeat="logRow in filteredLogs | filter:{'type' : 64}  | limitTo : 10" ng-click="scrollToAnchor(logRow, true)">
        <!-- <a ng-href="#/dashboard/instances#logAnchor{{logRow.id}}" class="list-group-item" ng-repeat="logRow in filteredLogs | filter:{'type' : 64}  | limitTo : 10"> -->
            <i class="fa fa-warning fa-fw"></i> {{LogFact.resolveAlertText[logRow.subtype]}}&nbsp {{logRow.txt}}
            <span class="pull-right text-muted small"><em>{{LogFact.resolveSubType[logRow.subtype]}}</em>
            </span>
        </a>
        <!-- <a href="#" class="list-group-item">
            <i class="fa fa-comment fa-fw"></i> New Comment
            <span class="pull-right text-muted small"><em>4 minutes ago</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
            <span class="pull-right text-muted small"><em>12 minutes ago</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-envelope fa-fw"></i> Message Sent
            <span class="pull-right text-muted small"><em>27 minutes ago</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-tasks fa-fw"></i> New Task
            <span class="pull-right text-muted small"><em>43 minutes ago</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-upload fa-fw"></i> Server Rebooted
            <span class="pull-right text-muted small"><em>11:32 AM</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-bolt fa-fw"></i> Server Crashed!
            <span class="pull-right text-muted small"><em>11:13 AM</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-warning fa-fw"></i> Server Not Responding
            <span class="pull-right text-muted small"><em>10:57 AM</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
            <span class="pull-right text-muted small"><em>9:49 AM</em>
            </span>
        </a> -->
        <!-- <a href="#" class="list-group-item">
            <i class="fa fa-money fa-fw"></i> Payment Received
            <span class="pull-right text-muted small"><em>Yesterday</em>
            </span>
        </a> -->
    </div>
    <!-- /.list-group -->
    <a ng-click="scrollToAnchor()" class="btn btn-default btn-block">View All Alerts</a>
</div>