<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Instances</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<!-- <div class="col-lg-12"> -->
			<div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        CPU Load Avg.
                    </div>
                    <div class="panel-body">
                    	<div class="row center-div">
              			<!-- <canvas class="chart chart-pie chart-xs" data="data" labels="labels" legend="false"></canvas> -->
	              			<span class="easyChart ng-isolate-scope" easypiechart="" percent="cpuLoadAvg" options="options">
								<span class="percent">{{toFixed(cpuLoadAvgText, 2)}}</span>
							</span>
							<!-- <input type="range" min="0" max="100" step="0.1" ng-model="cpuLoadAvg" /> -->
						</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        CPU Load Max.
                    </div>
                    <div class="panel-body">
              			<!-- <canvas class="chart chart-doughnut chart-xs" data="data" labels="labels" legend="false"></canvas> -->
              			<div class="row center-div">
              			<!-- <canvas class="chart chart-pie chart-xs" data="data" labels="labels" legend="false"></canvas> -->
	              			<span class="easyChart ng-isolate-scope" easypiechart="" percent="cpuLoadMax" options="options2">
								<span class="percent">{{toFixed(cpuLoadMaxText, 2)}}</span>
							</span>
						</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        Important Chart
                    </div>
                    <div class="panel-body">
              			<!-- <canvas class="chart chart-doughnut chart-xs" data="data" labels="labels" legend="false"></canvas> -->
              			<div class="row center-div">
              			<!-- <canvas class="chart chart-pie chart-xs" data="data" labels="labels" legend="false"></canvas> -->
	              			<span class="easyChart ng-isolate-scope" easypiechart="" percent="percent3" options="options3">
								<span class="percent">{{percentText3}}</span>
							</span>
						</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-error">
                    <div class="panel-heading">
                        Very important chart
                    </div>
                    <div class="panel-body">
              			<!-- <canvas class="chart chart-pie chart-xs" data="data" labels="labels" legend="false"></canvas> -->
              			<div class="row center-div">
              			<!-- <canvas class="chart chart-pie chart-xs" chart-data="data" chart-labels="labels" legend="false"></canvas> -->
	              			<span class="easyChart ng-isolate-scope" easypiechart="" percent="percent4" options="options4">
								<span class="percent">{{percentText4}}</span>
							</span>
						</div>
                    </div>
                </div>
            </div>
		<!-- </div> -->
	</div>
	<div class="row">
	    <div class="col-lg-12">
	        <div class="panel panel-default my-panel">
	            <h3 class="panel-header">
	                Instances
	            </h3>
	            <!-- /.panel-heading -->
	            <div class="panel-body panel-body-overscroll">
	                <div class="table-responsive col-lg-12">
	                    <table class="table table-hover">
	                        <thead>
	                            <tr>
	                                <th>Name</th>
	                                <th>IP</th>
	                                <th>Image</th>
	                                <th class="text-center">Status</th>
	                                <th class="text-center">CPU Load</th>
	                                <th>Up Time</th>
	                                <th class="text-center">Log</th>
	                            </tr>
	                        </thead>
	                        <tbody ng-show="ClientFact.getSelected().type == 'serviceProviders'">
	                            <!-- <tr ng-repeat="instance in prod.productInstances[prod.products[prod.selected[0]]]"> -->
	                            <tr ng-repeat="instance in ClientFact.getSelected().instances">
	                                <td>{{instance.pc_id}}</td>
	                                <td>{{instance.ip_address}}</td>
	                                <!-- <td>{{mapImageIdToName[instance.imageId]}}</td> -->
	                                <td>{{ClientFact.getImageById[instance.image_id].name}}</td>
	                                <td class="text-center"><i class="fa" ng-class="statusToClass[instance.status]"></i></td>
	                                <td class="text-center">{{instance.cpuLoad}}%</td>
	                                <td>{{instance.start_time | date:'medium'}}</td>
	                                <td class="text-center"><a ng-href="" ng-click="searchLog.instance_id = instance.id"><i class="fa fa-filter"></i></a></td>
	                            </tr>
	                        </tbody>
	                        <tbody ng-show="ClientFact.getSelected().type == 'customers'">
	                            <!-- <tr ng-repeat="instance in prod.productInstances[prod.products[prod.selected[0]]]"> -->
								 <tr ng-repeat="instance in getFullInstanceInfo(ClientFact.getSelected().instances)| filter: {'service_id' : ClientFact.getSelected().selectedService}">
	                                <td>{{ClientFact.getInstanceById[instance.id].pc_id}}</td>
	                                <td>{{instance.ip_address}}</td>
	                                <!-- <td>{{mapImageIdToName[instance.imageId]}}</td> -->
	                                <td>{{ClientFact.getImageById[instance.image_id].name}}</td>
	                                <td class="text-center"><i class="fa" ng-class="statusToClass[instance.status]"></i></td>
	                                <td class="text-center">{{instance.cpuLoad}}%</td>
	                                <td>{{instance.start_time | date:'medium'}}</td>
	                                <td class="text-center"><a ng-href="" ng-click="searchLog.instance_id = instance.id"><i class="fa fa-filter"></i></a></td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	                <!-- /.table-responsive -->
	            </div>
	            <!-- /.panel-body -->
	        </div>
	        <!-- /.panel -->
	    </div>
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default my-panel">
		            <h3 class="panel-header">
		                Events Timeline
		            </h3>
		            <!-- /.panel-heading -->
		            <div class="panel-body panel-body-overscroll">
						<!-- <div google-chart chart="chart" style="height:500px"></div> -->
						<div id="timelineDash" style="height:500px"></div>
					</div>
				</div>
		  	</div>
		</div>
	</div>
	<div class="row">
	    <div class="col-lg-12">
	        <div class="panel panel-default my-panel">
	            <h3 class="panel-header">
	                Log
	            </h3>
	            <!-- /.panel-heading -->
	            <div class="panel-body panel-body-overscroll">
	                <div class="table-responsive col-lg-12">
	                    <table class="table table-hover">
	                        <thead>
	                            <tr>
	                                <th>Timestamp</th>
	                                <th>Instance Name</th>
	                                <th>IP</th>
	                                <th>Image Name</th>
	                                <th>Log Level</th>
	                                <th>Subtype</th>
	                                <th>Message</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <!-- <tr ng-repeat="logRow in LogFact.fullLogs | ClientRelatedInstances:ClientFact.getSelected().instances | filter: searchLog | filter: {'service_id' : ClientFact.getSelected().selectedService}" id="logAnchor{{$index}}"> -->
	                            <tr ng-repeat="logRow in filteredLogs | filter: searchLog | filter: {'service_id' : ClientFact.getSelected().selectedService}" id="logAnchor{{logRow.id}}">
	                                <td>{{logRow.timestamp * 1000 | date:'medium'}}</td>
	                                <td>{{logRow.instance.pc_id}}</td>
									<td>{{logRow.instance.ip_address}}</td>
									<td>{{logRow.image.name}}</td>
	                                <td>{{LogFact.resolveType[logRow.type]}}</td>
	                                <td>{{LogFact.resolveSubType[logRow.subtype]}}</td>
	                                <td>{{logRow.txt}}</td>
	                            </tr>
	                            <!-- <tr ng-repeat="logRow in prod.log[prod.products[prod.selected[0]]] | filter:searchLog">
	                                <td>{{logRow.timestamp | date:'medium'}}</td>
	                                <td>{{mapInstanceIdToName[logRow.instanceId]}}</td>
	                                <td>{{logRow.type}}</td>
	                                <td>{{logRow.message}}</td>
	                            </tr> -->
	                        </tbody>
	                    </table>
	                </div>
	                <!-- /.table-responsive -->
	            </div>
	            <!-- /.panel-body -->
	        </div>
	        <!-- /.panel -->
	    </div>
	<!-- /.row -->
	</div>
</div>