<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Instances</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- ===== TODO: instance names to be the same in instances, log, and timeline -->
	<!-- ===== TODO: copy charts from dashboard -->
	<!-- ===== TODO: Fix navigation from alerts! -->
	<!-- /.row -->
	
	<!-- <div class="row">
		<div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    CPU Load Avg.
                </div>
                <div class="panel-body">
                	<div class="row center-div">
              			<span class="easyChart ng-isolate-scope" easypiechart="" percent="cpuLoadAvg" options="options">
							<span class="percent">{{toFixed(cpuLoadAvgText, 2)}}</span>
						</span>
					</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    CPU Load Max.
                </div>
                <div class="panel-body">
          			<div class="row center-div">
              			<span class="easyChart ng-isolate-scope" easypiechart="" percent="cpuLoadMax" options="options2">
							<span class="percent">{{toFixed(cpuLoadMaxText, 2)}}</span>
						</span>
					</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    Important Chart
                </div>
                <div class="panel-body">
          			<div class="row center-div">
              			<span class="easyChart ng-isolate-scope" easypiechart="" percent="percent3" options="options3">
							<span class="percent">{{percentText3}}</span>
						</span>
					</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-error">
                <div class="panel-heading">
                    Very important chart
                </div>
                <div class="panel-body">
          			<div class="row center-div">
              			<span class="easyChart ng-isolate-scope" easypiechart="" percent="percent4" options="options4">
							<span class="percent">{{percentText4}}</span>
						</span>
					</div>
                </div>
            </div>
        </div>
	</div> -->
	<div class="row">
        <div class="col-lg-3">
            <div class="panel panel-cpu panel-min-size">
                <div class="panel-heading">
                    Live Instances
                </div>
                <div class="pie-container">
                    <div class="row center-div">
                        <canvas id="doughnut" class="chart chart-doughnut chart-xs pie-chart" chart-data="pieChart.data" chart-colors="pieChart.colors" chart-options="pieChart.options" chart-labels="pieChart.labels" legend="false"></canvas>
                        <div class="num-of-instances">
                            <span>{{numOfInstances}}</span>
                        </div>

                    </div>
                    <div id="pieLegend" class="instance-legend">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-primary panel-min-size">
                <div class="panel-heading">
                    CPU Load
                </div>
                <div class="pie-container">
                    <div class="row center-div">
                        <canvas id="doughnut" class="chart chart-doughnut chart-xs pie-chart" chart-data="cpuChart.data" chart-labels="cpuChart.labels" chart-options="cpuChart.options" chart-colors="cpuChart.colors" chart-options="cpuChart.options" chart-legend="true"></canvas>
                    </div>
                    <div class="cpu-legend">
                        <div>
                            <div class="cpu-high"> &#9632</div> High
                        </div>
                        <div>
                            <div class="cpu-med"> &#9632 </div> Med
                        </div>
                        <div>
                            <div class="cpu-low"> &#9632 </div> Low
                        </div>
                    </div>
                </div>

            </div>
            <!--
                            <div class="row center-div panel-text">
                                <span class="easyChart ng-isolate-scope" easypiechart="" percent="percent3" options="options3">
                                        <span class="percent">{{percentText3}}</span>
                                </span>
                            </div>
            -->
        </div>


        <!--<div class="col-lg-3">
            <div class="panel panel-primary panel-min-size">
                <div class="panel-heading">
                    Active instances
                </div>
                <div class="panel-body">
                    <div class="row panel-text center-div">
                        <div class="data-pie">try</div>
                        <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="donut.data" labels="donut.labels" legend="true"></canvas>
                        <span ng-init="setValueBySteps('numOfInstances', 0, 17, 1000, 17)">{{numOfInstances}}</span>
                        <span ng-init="setPieValueBySteps('products', 0, numOfInstances, 1000, numOfInstances)"></span>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="col-lg-3">
            <div class="panel panel-info panel-min-size">
                <div class="panel-heading">
                    Verifications
                </div>
                <div class="panel-body">
                    <!-- <canvas class="chart chart-doughnut chart-xs" data="data" labels="labels" legend="false"></canvas> -->
                    <div class="row center-div panel-text">
                        <!-- <span>153</span> -->{{numOfVerifications}}
                        <!--<span ng-init="setValueBySteps('numOfVerifications', 0, numOfVerifications, 1000, numOfVerifications)">{{numOfVerifications}}</span>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-error panel-min-size">
                <div class="panel-heading">
                    Alerts in 24H
                </div>
                <div class="panel-body">
                    <!-- <canvas class="chart chart-pie chart-xs" data="data" labels="labels" legend="false"></canvas> -->
                    <div class="row center-div panel-text">
                        <!-- <canvas class="chart chart-pie chart-xs" chart-data="data" chart-labels="labels" legend="false"></canvas> -->
                        <!-- <span>7</span> -->
                        {{numOfAlerts}}
                        <!--<span ng-init="setValueBySteps('numOfAlerts', 0, numOfAlerts, 1000, numOfAlerts)">{{numOfAlerts}}</span>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
	    <div class="col-lg-12">
	        <div class="panel panel-default my-panel">
	            <h3 class="panel-header">
	                Instances
	            </h3>
	            <!-- /.panel-heading -->
	            <div class="panel-body panel-body-overscroll">
	                <div class="table-responsive col-lg-12">
	                    <table class="table table-hover">
	                        <thead>
	                            <tr>
	                                <th>Name</th>
	                                <th>IP</th>
	                                <th>Image</th>
	                                <th class="text-center">Status</th>
	                                <th class="text-center">CPU Load</th>
	                                <th>Up Time</th>
	                                <th class="text-center">Log</th>
	                            </tr>
	                        </thead>
	                        <tbody ng-show="ClientFact.getSelected().type == 'serviceProviders'">
	                            <!-- <tr ng-repeat="instance in prod.productInstances[prod.products[prod.selected[0]]]"> -->
	                            <tr ng-click="openInstanceModal(instance)" ng-repeat="instance in ClientFact.getSelected().instances" ng-click="openInstanceModal(instance)">
	                                <!-- <td>{{instance.pc_id}}</td> -->
	                                <td>{{instance.instanceName}}</td>
	                                <td>{{instance.ip_address}}</td>
	                                <!-- <td>{{mapImageIdToName[instance.imageId]}}</td> -->
	                                <td>{{ClientFact.getImageById[instance.image_id].name}}</td>
	                                <td class="text-center"><i class="fa" ng-class="statusToClass[instance.status]"></i></td>
	                                <td class="text-center">{{instance.cpuLoad}}%</td>
	                                <td>{{instance.start_time | date:'medium'}}</td>
	                                <td ng-click="$event.stopPropagation()" class="text-center"><a ng-href="" ng-click="searchLog.instance_id = instance.id"><i class="fa fa-filter"></i></a></td>
	                            </tr>
	                        </tbody>
	                        <tbody ng-show="ClientFact.getSelected().type == 'customers'">
	                            <!-- <tr ng-repeat="instance in prod.productInstances[prod.products[prod.selected[0]]]"> -->
								 <tr ng-repeat="instance in getFullInstanceInfo(ClientFact.getSelected().instances)| filter: {'service_id' : ClientFact.getSelected().selectedService}" ng-click="openInstanceModal(instance)">
	                                <!-- <td>{{ClientFact.getInstanceById[instance.id].pc_id}}</td> -->
	                                <td>{{instance.instanceName}}</td>
	                                <td>{{instance.ip_address}}</td>
	                                <!-- <td>{{mapImageIdToName[instance.imageId]}}</td> -->
	                                <td>{{ClientFact.getImageById[instance.image_id].name}}</td>
	                                <td class="text-center"><i class="fa" ng-class="statusToClass[instance.status]"></i></td>
	                                <td class="text-center">{{instance.cpuLoad}}%</td>
	                                <td>{{instance.start_time | date:'medium'}}</td>
	                                <td ng-click="$event.stopPropagation()" class="text-center"><a ng-href="" ng-click="searchLog.instance_id = instance.id"><i class="fa fa-filter"></i></a></td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	                <!-- /.table-responsive -->
	            </div>
	            <!-- /.panel-body -->
	        </div>
	        <!-- /.panel -->
	    </div>
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default my-panel">
		            <h3 class="panel-header">
		                Events Timeline
		            </h3>
		            <!-- /.panel-heading -->
		            <div class="panel-body panel-body-overscroll">
						<!-- <div google-chart chart="chart" style="height:500px"></div> -->
						<div id="timelineDash" style="height:450px"></div>
					</div>
				</div>
		  	</div>
		</div>
	</div>
	<div class="row">
	    <div class="col-lg-12">
	        <div class="panel panel-default my-panel">
	            <h3 class="panel-header">
	                Log
	            </h3>
	            <!-- /.panel-heading -->
	            <div id="logAnchor" class="panel-body panel-body-overscroll">
	                <div class="table-responsive col-lg-12">
	                    <table class="table table-hover">
	                        <thead>
	                            <tr>
	                                <th>Timestamp</th>
	                                <th>Instance Name</th>
	                                <th>IP</th>
	                                <th>Image Name</th>
	                                <th>Log Level</th>
	                                <th>Subtype</th>
	                                <th>Message</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <!-- <tr ng-repeat="logRow in LogFact.fullLogs | ClientRelatedInstances:ClientFact.getSelected().instances | filter: searchLog | filter: {'service_id' : ClientFact.getSelected().selectedService}" id="logAnchor{{$index}}"> -->
	                            <tr ng-repeat="logRow in filteredLogs | limitTo:limitLogSize | filter: searchLog | filter: {'service_id' : ClientFact.getSelected().selectedService}" id="logAnchor{{logRow.id}}">
	                                <td>{{logRow.timestamp * 1000 | date:'medium'}}</td>
	                                <td>{{logRow.instanceName}}</td>
									<td>{{logRow.instance.ip_address}}</td>
									<td>{{logRow.image.name}}</td>
	                                <td>{{LogFact.resolveType[logRow.type]}}</td>
	                                <td>{{LogFact.resolveSubType[logRow.subtype]}}</td>
	                                <td>{{logRow.txt}}</td>
	                            </tr>
	                            <!-- <tr ng-repeat="logRow in prod.log[prod.products[prod.selected[0]]] | filter:searchLog">
	                                <td>{{logRow.timestamp | date:'medium'}}</td>
	                                <td>{{mapInstanceIdToName[logRow.instance_id]}}</td>
	                                <td>{{logRow.type}}</td>
	                                <td>{{logRow.message}}</td>
	                            </tr> -->
	                        </tbody>
	                    </table>
	                </div>
	                <!-- /.table-responsive -->
	            </div>
	            <!-- /.panel-body -->
	        </div>
	        <!-- /.panel -->
	    </div>
	<!-- /.row -->
	</div>
</div>
<script type="text/ng-template" id="additionalInfo.html">
    <div class="modal-header">
        <h3 class="modal-title">Instance Info</h3>
    </div>
    <div class="modal-body">
    	<div class="panel panel-default my-panel">
            <h3 class="panel-header">
                General Info
            </h3>
            <!-- /.panel-heading -->
            <div class="panel-body panel-body-overscroll">
                <div class="col-lg-12">
			        <form class="form-horizontal">
					  <div class="form-group">
					    <label class="col-sm-3 control-label sans-serif">Instance ID: </label>
					    <div class="col-sm-9">
					      <p class="form-control-static">{{instance.id}}</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-3 control-label sans-serif">IP Address: </label>
					    <div class="col-sm-9">
					      <p class="form-control-static">{{instance.ip_address}}</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-3 control-label sans-serif">Start time: </label>
					    <div class="col-sm-9">
					      <p class="form-control-static">{{instance.start_time}}</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-3 control-label sans-serif">End time: </label>
					    <div class="col-sm-9">
					      <p class="form-control-static">{{instance.end_time}}</p>
					    </div>
  					  </div>
  					</form>
				</div>
			</div><!-- Panel body -->
		</div><!-- Panel -->
		<div class="panel panel-default my-panel">
            <h3 class="panel-header">
                Instance Posture
            </h3>
            <!-- /.panel-heading -->
            <div class="panel-body panel-body-overscroll">
                <div class="col-lg-12">
                	<form class="form-horizontal">
					  <div class="form-group">
					    <label class="col-sm-3 control-label sans-serif">PC ID:</label>
					    <div class="col-sm-9">
					      <p class="form-control-static">{{instance.pc_id}}</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-3 control-label sans-serif">MAC Address</label>
					    <div class="col-sm-9">
					      <p class="form-control-static">{{instance['MAC ADDRESS']}}</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-3 control-label sans-serif">ASLR: </label>
					    <div class="col-sm-9">
					      <p class="form-control-static">{{instance.ASLR}}</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-3 control-label sans-serif">Canary: </label>
					    <div class="col-sm-9">
					      <p class="form-control-static">{{instance.CANARY}}</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-3 control-label sans-serif">NX: </label>
					    <div class="col-sm-9">
					      <p class="form-control-static">{{instance.NX}}</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-3 control-label sans-serif">PIE: </label>
					    <div class="col-sm-9">
					      <p class="form-control-static">{{instance.PIE}}</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-3 control-label sans-serif">RELRO: </label>
					    <div class="col-sm-9">
					      <p class="form-control-static">{{instance.RELRO}}</p>
					    </div>
					  </div>
				  	</form>
				</div>
			</div><!-- /.panel-body -->
		</div><!-- /.panel -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline btn-primary" type="button" ng-click="ok()">Close</button>
    </div>
</script>